ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #edf7ed;
  border-radius: 4px;
}

p {
  margin: 0;
  font-size: 16px;
  color: #4caf50;
}

.deleteName {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteName:hover {
  background-color: #d32f2f;
}
